@charset "ISO-8859-1";

div#containerAll{
	display: flex;
	margin: 10px 10px 0px 10px;
	justify-content: flex-start;
}

div#containerFilters {
	text-align: center;
    background-color: var(--royal-blue-traditional);
    width: 200px;
    margin: 0px 15px 0px 0px;
	color: var(--linen);
}

div#marcaF, div#sistemaF{
    text-align: left;
    display: grid;
    justify-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

div#containerProducts{
  	margin: 25px 0px 120px 0px;
}

div#containerProductsAdmin{
  	margin: 25px 0px 150px 0px;
}

div.itemProduct{
	height: 150px;
	width: 165px;
}

div.itemProductA{
	height: 150px;
	width: 155px;
}

div.polaroid {	
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  font-weight: 500;
  padding: 10px 20px;
}

div.polaroid img{
	width: 100%;
}

ul.list{
	display: grid;
  	gap: 145px 20px;
  	margin: 25px 0px 120px 0px;
  	grid-template-columns: repeat(7, 165px);
	list-style-type: none;
}

ul.listAdmin{
	display: grid;
  	gap: 145px 15px;
  	margin: 25px 0px 120px 0px;
  	grid-template-columns: repeat(7, 165px);
	list-style-type: none;
}

div#edit-trash
{
	display: flex;
	justify-content: space-around;
}

ul.list li{
	list-style-type: none; 	
}

a i.fa-pencil,a i.fa-trash-can{
	color: black;
}

.hidden {
  display: none;
}

.pagination-container {
  display: flex;
  align-items: center;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
}

.pagination-number,
.pagination-button{
  font-size: 17.6px;
  background-color: transparent;
  border: none;
  margin: 4px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 3.2px;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: var(--linen);
}

.pagination-number.active {
  color: var(--linen);
  background: var(--glaucous);
}

@media only screen and (max-width: 600px) {
	
	div#containerFilters,div.polaroid
	{
		width: 115px;
	}

	div.polaroid{
		font-size: 14px;
		height: 235px;
	}
	ul#list{
		padding-left: 15px;
	}
}

@media only screen and (min-width: 600px) {
	div#containerFilters,div.polaroid
	{
		width: 150px;
	}

	div.polaroid{
		font-size: 15px;
		height: 260px;
	}
	ul#list{
		padding-left: 30px;
	}
}

@media only screen and (min-width: 768px) {
	div#containerFilters,div.polaroid
	{
		width: 175px;
	}

	div.polaroid{
		font-size: 17px;
		height: 300px;
	}
	ul#list{
		padding-left: 40px;
		gap: 185px 40px;
	}
}

@media only screen and (min-width: 992px) {
	div#containerFilters,div.polaroid
	{
		width: 200px;
	}

	div.polaroid{
		font-size: 19px;
		height: 350px;
	}
	ul#list{
		padding-left: 50px;
		gap: 250px 80px;
	}
}