@charset "ISO-8859-1";

div#all {
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

div#divCerca {
	border: 1px solid #E1E8EE;
	border-radius: 6px;
	height: 10%;
}

ul {
	margin-left: 13%;
	padding: 0px;
}

div#divCerca div {
	margin: 10px;
}

li {
	list-style-type: none;
}

div.table-order {
	padding: 20px 30px;
	height: 30px;
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #E1E8EE;
	border-bottom: 1px solid #E1E8EE;
}

div.table-orderLegend {
	padding: 20px 30px;
	width: 500px;
	height: 30px;
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #E1E8EE;
	border-bottom: 1px solid #E1E8EE;
}

a {
	color: black;
	text-decoration: none;
}

a:active {
	color: black;
}

a:hover {
	color: black;
}

a:visited {
	color: black;
}

@media only screen and (max-width: 600px) {
	div#all {
		display: block;
	}
	div.table-orderLegend {
		font-size: 14px;
		width: 250px;
	}
	div.table-order {
		font-size: 14px;
		padding: 10px;
	}
}

@media only screen and (min-width: 600px) {
	div.table-orderLegend {
		font-size: 14px;
		width: 250px;
	}
	div.table-order {
		font-size: 14px;
		padding: 10px;
	}
}

@media only screen and (min-width: 790px) {
	div.table-orderLegend {
		font-size: 16px;
		width: 325px;
	}
	div.table-order {
		font-size: 16px;
		padding: 10px;
	}
}

@media only screen and (min-width: 992px) {
	div.table-orderLegend {
		font-size: 18px;
		width: 450px;
	}
	div.table-order {
		font-size: 18px;
		padding: 10px;
	}
}