@charset "ISO-8859-1";

div.polaroid {
	width: 23%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}

div.container {
	text-align: center;
	font-weight: 500;
	padding: 10px 20px;
}

div.polaroid img {
	width: 100%;
}

div#vuoto {
	height: 635px;
	width: 250px;
}

div#table {
	display: table;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	height: 580px;
}

div#NameProduct {
	width: 100%;
}

div#NameProduct h1 {
	font-weight: 600;
	text-align: center;
}

div#row p {
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

div#row label {
	text-align: center;
	font-size: 18px;
	margin: 45px;
}

div#row label input[type=number] {
	border-radius: 5px;
	width: 150px;
	height: 30px;
	text-align: center;
	margin-left: 20px;
}

div#row {
	display: grid;
	justify-content: center;
}

div#row div#inrow {
	margin: 50px 100px 100px 100px;
}

input[type=submit] {
	border-radius: 5px;
	width: 150px;
	height: 30px;
	text-align: center;
	margin-left: 10px;
}

div#desc {
	width: 550px;
	margin-top: 50px;
}

p#descrizione {
	font-size: 14px;
	margin-top: 10px;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	text-align: center;
	padding: 20px 0px;
}

.popup {
	width: 200px;
	height: 400px;
	background: #fefefe;
	margin: 40px auto;
	padding: 10px 20px;
	position: relative;
	color: #333;
}

.overlay {
	position: fixed; 
	top: 0;
	left: -165px;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
}

#close {
	position: absolute;
	top: -20px;
	right: -20px;
	color: #fff;
}

#close:hover {
	cursor: pointer;
}

@media only screen and (max-width: 465px) {
	div.polaroid, div#vuoto {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	h3 {
		font-size: 12px;
	}
	div#table, div#NameProduct, div#row, div#inrow, p#descrizione {
		width: 265px;
		font-size: 12px;
	}
}

@media only screen and (min-width: 600px) {
	h3 {
		font-size: 14px;
	}
	div#table, div#NameProduct, div#row, div#inrow, p#descrizione {
		width: 400px;
		font-size: 14px;
	}
}

@media only screen and (min-width: 768px) {
	h3 {
		font-size: 16px;
	}
	div#table, div#NameProduct, div#row, div#inrow, p#descrizione {
		width: 528px;
		font-size: 16px;
	}
	div.polaroid{
		width: 750px;
	}
}

@media only screen and (min-width: 992px) {
	h3 {
		font-size: 18px;
	}
	div#table, div#NameProduct, div#row, div#inrow, p#descrizione {
		width: 769px;
		font-size: 18px;
	}
}