@charset "ISO-8859-1";

div#capsule-cialdeContainer h1#capsule-cialde
{
	text-align: center;
}

div#capsule-cialdeContainer p
{
	margin: 10px 10px 10px 10px;
}

div.Container {
	border-spacing: 10px;
	height: 100%;
	margin: 10px 10px 0px 10px;
}

div.Container div#capsule-cialdeContainer {
	height: 50%;
}

div#prova{
	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin: 0px 10px;	
}

div.Container div#allSystem
{
	display: table;
	margin: 10px;
	background-color: var(--glaucous);
	height: 322px;
	border: 1px solid var(--royal-blue-traditional);
}

div.Container div#allSystem div.systemFeatured
{
	display: table-cell;
	margin: 10px;
	height: 50%;
}

div#allSystem img{
	border: 1px solid var(--linen);
}

div.Container div#allSystem div.grid-container {
  display: grid;
  gap: 15px 15px;
  margin: 25px 0px 25px 0px;
  grid-template-columns: 100px 100px 100px;
  height: 235px;
  float: right;
}

div.Container div#allSystem div.grid-item {
	height: 100px;
	width: 100px;
}

div.textbar
{
	background-color: var(--chamoisee);
	height: 22px;
}

div.textbar h3 {
	color: var(--linen);
	text-align: left;
	text-decoration: none;
}

div.gallery {
  border: 1px solid #ccc;
  margin: 10px;
}

div.gallery:hover {
  border: 1px solid #777;
}

img.newProduct{
  width: 100%;		
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}



@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}